@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
  background-color: #1c1c1c;
}

.header {
  background-image: url('./header_photo.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-title {
  color: white;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.intro {
  padding: 20px;
  text-align: center;
}

.intro p {
  color: whitesmoke;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  text-shadow: 2px 2px 40px rgba(136, 66, 206, 0.7);
  margin: 0;
}

.optionInput {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 10px;
  width: 200px;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-right: 5px;
}


.tickerInput{
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a0fba;
  margin-right: 5px;
}

.tickerInput::placeholder{
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.volatilityInput {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 10px;
  width: 220px;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-right: 5px;
}


.strikeInput{
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a0fba;
  margin-right: 5px;
}

.strikeInput::placeholder{
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.daysInput{
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a0fba;
  margin-right: 5px;
}

.daysInput::placeholder{
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.volatilityDaysInput::placeholder{
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.volatilityDaysInput{
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 6px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6a0fba;
  margin-right: 5px;
}

.userInputs{
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.priceButton{
  width: 250px;
  height: 75px;
  font-size: large;
  color: white;
  background-color: #6a0fba;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}

.priceButton:hover{
  cursor: pointer;
  background-color: #34eb46;
  color: black;
}

.priceButton:active{
  background-color: #6a0fba;
  color: white;
}

.heatmapButton{
  width: 250px;
  height: 75px;
  font-size: large;
  color: white;
  background-color: #6a0fba;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}

.heatmapButton:hover{
  cursor: pointer;
  background-color: #db182c;
  color: white;
}

.heatmapButton:active{
  background-color: #6a0fba;
  color: white;
}

.heatmapContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
}


.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.outputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.outputPrice {
  background-color: #1c1c1c;
  color: #34eb46;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: color 1s ease, transform 0.3s ease;
}

.heatmapOutput{
  margin-top: 20px; 
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatMapImage{
  width: 1250px;
  height: 650px; 
  border: 2px solid white;
}


.reset{
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButton{
  width: 175px;
  height: 50px;
  font-size: large;
  color: white;
  background-color: #6a0fba;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}

.resetButton:hover{
  cursor: pointer;
  background-color: white;
  color: black;
}

.resetButton:active{
  background-color: #6a0fba;
  color: white;
}

.outputGreek{
  background-color: #1c1c1c;
  color: #10a5e6;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  padding: 10px 16px;
  border-radius: 6px;
  transition: color 1s ease, transform 0.3s ease;
}

.greeksButton{
  width: 175px;
  height: 50px;
  font-size: large;
  color: white;
  background-color: #6a0fba;
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}

.greeksButton:hover{
  cursor: pointer;
  background-color:#10a5e6;
  color: white;
}

.gButton{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeksOutput{
  display: flex;
  justify-content: center;
  align-items: center;
}